@model Driver

@{
    ViewData["Title"] = "Select Option";
}

<div class="container text-center mt-5">
    <h2>Select an Option</h2>
    <div class="mt-4">
        <a asp-controller="Driver" asp-action="AllDrivers" class="btn btn-secondary btn-lg m-3">
            All Drivers
        </a>
        <a asp-controller="Event" asp-action="" class="btn btn-primary btn-lg m-3">
            Notes
        </a>
    </div>
</div>

