@model Employee

@{
    ViewData["PageTitle"] = "Add Employee";
}

<div class="container mt-4">
    <h3 class="mb-4">@ViewData["PageTitle"]</h3>
    <div class="row">
        <div class="col-md-7">
            <div class="widget p-5 border rounded shadow">
                <form asp-action="Add">
                    <input type="hidden" asp-for="EmployeeID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input type="text" asp-for="Name" class="form-control" placeholder="Enter Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input type="email" asp-for="Email" class="form-control" placeholder="Enter Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input type="password" asp-for="Password" class="form-control" placeholder="Enter Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Role" class="form-label">Role</label>
                        <input type="text" asp-for="Role" class="form-control" placeholder="Enter Role" />
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

