@model Event

@{
    ViewData["Title"] = "Select Option";
}

<div class="container text-center mt-5">
    <h2>Select an Option</h2>
    <div class="mt-4">
        <a asp-action="NewEvents" class="btn btn-primary btn-lg m-3">
            Senaste Events
        </a>
        <a asp-action="AllEvents" class="btn btn-secondary btn-lg m-3">
            Alla Events
        </a>
    </div>
</div>
